In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("quarterly_results.csv")

In [3]:
df_2=df.rename(columns={'Unnamed: 1': 'Metrics'})

In [4]:
df_2["Metrics"].unique()

array(['Sales\xa0+', 'Expenses\xa0+', 'Operating Profit', 'OPM %',
       'Other Income\xa0+', 'Interest', 'Depreciation',
       'Profit before tax', 'Tax %', 'Net Profit\xa0+', 'EPS in Rs',
       'Raw PDF', 'Revenue\xa0+', 'Financing Profit',
       'Financing Margin %', 'Gross NPA %', 'Net NPA %'], dtype=object)

In [5]:
df_2["Metrics"] = df_2["Metrics"].str.replace("\xa0+", "")

In [6]:
df_2["Metrics"].unique()

array(['Sales', 'Expenses', 'Operating Profit', 'OPM %', 'Other Income',
       'Interest', 'Depreciation', 'Profit before tax', 'Tax %',
       'Net Profit', 'EPS in Rs', 'Raw PDF', 'Revenue',
       'Financing Profit', 'Financing Margin %', 'Gross NPA %',
       'Net NPA %'], dtype=object)

In [7]:
df_2=df_2[df_2["Metrics"]!='raw pdf']

In [8]:
df_2

,Company,Metrics,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023,Jun 2023,Sep 2023,Dec 2023,...,Jun 2020,Mar 2015,Jun 2015,Sep 2015,Dec 2015,Mar 2016,Jun 2016,Sep 2016,Dec 2016,Mar 2017
0,UltraTech Cem.,Sales,"15,767","15,164","13,893","15,521","18,662","17,737","16,012","16,740",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UltraTech Cem.,Expenses,"12,695","12,069","12,028","13,185","15,340","14,688","13,461","13,485",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UltraTech Cem.,Operating Profit,"3,073","3,095","1,865","2,336","3,322","3,049","2,551","3,255",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UltraTech Cem.,OPM %,19%,20%,13%,15%,18%,17%,16%,19%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UltraTech Cem.,Other Income,253,110,146,130,123,177,171,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6613,Starlog Enterp.,Profit before tax,-15.10,-7.71,80.59,5.68,7.97,-2.22,-1.64,-2.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6614,Starlog Enterp.,Tax %,2.12%,0.39%,0.00%,0.00%,5.77%,0.00%,0.00%,0.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6615,Starlog Enterp.,Net Profit,-15.41,-7.74,80.59,5.68,7.51,-2.22,-1.64,-2.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6616,Starlog Enterp.,EPS in Rs,-11.22,-4.94,67.34,4.69,6.43,-1.75,-1.35,-2.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6617,Starlog Enterp.,Raw PDF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
category=pd.read_csv("top_companies.csv")

In [10]:
category=category.rename(columns={'name': 'Company'})

In [11]:
category

,sector,rank,Company,url,cmp,pe,market_cap,div_yield,net_profit_qtr,qtr_profit_var,sales_qtr,qtr_sales_var,roce
0,Cement & Cement Products,2,UltraTech Cem.,https://www.screener.in/company/ULTRACEMCO/con...,11253.00,54.21,331599.50,0.62,2474.79,7.44,23063.32,12.95,10.93
1,Cement & Cement Products,3,Grasim Inds,https://www.screener.in/company/GRASIM/consoli...,2571.20,46.21,175026.82,0.39,2973.26,-3.01,44267.26,17.34,7.60
2,Cement & Cement Products,4,Ambuja Cements,https://www.screener.in/company/AMBUJACEM/cons...,555.35,33.02,136802.00,0.36,1282.24,-3.56,9888.61,11.18,10.50
3,Cement & Cement Products,5,Shree Cement,https://www.screener.in/company/SHREECEM/conso...,29486.00,94.71,106346.44,0.35,574.99,-14.90,5532.02,2.43,6.74
4,Cement & Cement Products,6,J K Cements,https://www.screener.in/company/JKCEMENT/conso...,5877.15,57.46,45404.56,0.26,361.33,68.44,3581.18,15.31,13.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,Transport Infrastructure,7,IRB InvIT Fund,https://www.screener.in/company/IRBINVIT/conso...,60.25,9.83,3497.51,13.28,184.48,0.26,563.19,1.08,9.48
545,Transport Infrastructure,8,BF Utilities,https://www.screener.in/company/BFUTILITIE/,770.00,181.56,2901.32,0.00,0.07,-99.25,2.37,-0.42,12.80
546,Transport Infrastructure,9,Dreamfolks Servi,https://www.screener.in/company/DREAMFOLKS/con...,262.95,21.54,1400.67,0.78,14.93,-16.96,314.16,11.75,33.76
547,Transport Infrastructure,10,Allcargo Termi,https://www.screener.in/company/ATL/consolidated/,29.79,22.48,750.88,0.00,-2.41,-126.00,185.93,2.29,11.83
548,Transport Infrastructure,11,Starlog Enterp.,https://www.screener.in/company/520155/consoli...,79.71,NaN,119.30,0.00,-0.04,-160.24,2.84,-14.71,-2.00

In [12]:
merged_df= pd.merge(df_2, category[['sector', 'rank', 'Company','url']], on='Company', how='left')

In [24]:
merged_df.to_csv("quarterly_results_cleaned.csv", index=False)

In [13]:
merged_df .columns

Index(['Company', 'Metrics', 'Mar 2022', 'Jun 2022', 'Sep 2022', 'Dec 2022',
       'Mar 2023', 'Jun 2023', 'Sep 2023', 'Dec 2023', 'Mar 2024', 'Jun 2024',
       'Sep 2024', 'Dec 2024', 'Mar 2025', 'Dec 2021', 'Sep 2020', 'Dec 2020',
       'Mar 2021', 'Jun 2021', 'Sep 2021', 'Dec 2018', 'Mar 2019', 'Jun 2019',
       'Sep 2019', 'Dec 2019', 'Mar 2020', 'Jun 2020', 'Mar 2015', 'Jun 2015',
       'Sep 2015', 'Dec 2015', 'Mar 2016', 'Jun 2016', 'Sep 2016', 'Dec 2016',
       'Mar 2017', 'sector', 'rank', 'url'],
      dtype='object')

In [14]:
import pandas as pd

# Assuming df is your original DataFrame
# Step 1: Pivot all monthly columns into a single 'period' column
month_cols = [col for col in merged_df.columns if col not in ['Company', 'Metrics', 'sector', 'rank', 'url']]

df_melted = merged_df.melt(
    id_vars=['Company', 'Metrics', 'sector', 'rank', 'url'],
    value_vars=month_cols,
    var_name='period',
    value_name='value'
)

# Step 2: Convert 'period' to datetime (1st of each month)
df_melted['date'] = pd.to_datetime(df_melted['period'], format='%b %Y')

# Optional: set it to 1st of month explicitly
df_melted['date'] = df_melted['date'].dt.to_period('M').dt.to_timestamp()

# Final dataframe will have:
# ['Company', 'Metrics', 'sector', 'rank', 'url', 'period', 'value', 'date']

In [16]:
df_melted=df_melted[df_melted["date"] >= "2022-01-01"]

In [20]:
df_melted=df_melted[df_melted["Metrics"] != "Raw PDF"]

In [21]:
df_melted

,Company,Metrics,sector,rank,url,period,value,date
0,UltraTech Cem.,Sales,Cement & Cement Products,2,https://www.screener.in/company/ULTRACEMCO/con...,Mar 2022,"15,767",2022-03-01
1,UltraTech Cem.,Expenses,Cement & Cement Products,2,https://www.screener.in/company/ULTRACEMCO/con...,Mar 2022,"12,695",2022-03-01
2,UltraTech Cem.,Operating Profit,Cement & Cement Products,2,https://www.screener.in/company/ULTRACEMCO/con...,Mar 2022,"3,073",2022-03-01
3,UltraTech Cem.,OPM %,Cement & Cement Products,2,https://www.screener.in/company/ULTRACEMCO/con...,Mar 2022,19%,2022-03-01
4,UltraTech Cem.,Other Income,Cement & Cement Products,2,https://www.screener.in/company/ULTRACEMCO/con...,Mar 2022,253,2022-03-01
...,...,...,...,...,...,...,...,...
86028,Starlog Enterp.,Depreciation,Transport Infrastructure,11,https://www.screener.in/company/520155/consoli...,Mar 2025,1.32,2025-03-01
86029,Starlog Enterp.,Profit before tax,Transport Infrastructure,11,https://www.screener.in/company/520155/consoli...,Mar 2025,0.01,2025-03-01
86030,Starlog Enterp.,Tax %,Transport Infrastructure,11,https://www.screener.in/company/520155/consoli...,Mar 2025,600.00%,2025-03-01
86031,Starlog Enterp.,Net Profit,Transport Infrastructure,11,https://www.screener.in/company/520155/consoli...,Mar 2025,-0.04,2025-03-01
86032,Starlog Enterp.,EPS in Rs,Transport Infrastructure,11,https://www.screener.in/company/520155/consoli...,Mar 2025,-0.03,2025-03-01

In [22]:
df_melted.to_csv("quarterly_results_cleaned.csv", index=False)

In [23]:
df_melted.columns

Index(['Company', 'Metrics', 'sector', 'rank', 'url', 'period', 'value',
       'date'],
      dtype='object')